body{
  margin:20px;
}

 li{
  margin: 10px;
}

.navbar{
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;  
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;  
}

.navbar{
  background-color:midnightblue
}
.navbar .nav-pills >li >a {
    color:#fff;
 }
   .navbar .nav-pills > li > a:hover {
     color:#fff;
 }

.navbar .nav-pills .active {
   color:#fff ;
   font-weight:bold;
   border-bottom: 2px #fff solid;
}